body {
  background: #f0fff4;
  color: #22543d;
  font-family: 'Menlo', sans-serif;
  max-width: 400px;
  margin: 2em 4em;
}

a {
  color: #22543d;
  border-bottom: 2px solid #22543d;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.1s;
}

a:hover {
  background: #faf089;
  color: #000;
}

a.cta {
  background: #22543d;
  border-bottom: none;
  border-radius: 4px;
  color: #f0fff4;
  display: inline-block;
  font-size: 14px;
  margin: 20px 0;
  padding: 14px 21px;
}

a.cta:hover {
  background: #faf089;
  color: #22543d;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
}

h1 > span {
  display: block;
  font-size: 50px;
  line-height: 2;
}

p {
  font-size: 15px;
  line-height: 1.6;
  margin: 20px 0;
}

p.intro {
  font-size: 17px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  body {
    margin: 1em;
  }
}
